- url = @deliverable.new_record? ? mission_deliverables_path(@mission, { action: :create }) : mission_deliverable_path(@mission, @deliverable)
= form_for(@deliverable, { url: url }) do |f|
  - if @deliverable.errors.any?
    #error_explanation
      %h2= "#{pluralize(@deliverable.errors.count, "error")} prohibited this deliverable from being saved:"
      %ul
        - @deliverable.errors.full_messages.each do |msg|
          %li= msg

  .fill-me-in
    = f.label(:name)
    = f.text_field(:name, { required: true, autofocus: true })

  .fill-me-in
    = f.label(:value)
    = f.text_field(:value)

  = f.submit(t("actions.save"), { class: "action" })

  - unless @deliverable.new_record?
    %h3 Danger Zone
    = link_to(t("actions.delete"), mission_deliverable_path(@deliverable.mission, @deliverable), { class: "action delete", method: :delete })
