%h1 Listing deliverables

%table
  %thead
    %tr
      %th Sequence
      %th Name
      %th
      %th
      %th

  %tbody
    - @deliverables.each do |deliverable|
      %tr
        %td= deliverable.ordering
        %td= deliverable.name
        %td= link_to 'Show', deliverable
        %td= link_to 'Edit', edit_deliverable_path(deliverable)
        %td= link_to 'Destroy', deliverable, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Deliverable', new_deliverable_path
