%h1= t("deliverables.new.title")
%p= t("deliverables.new.description")
%ul
  %li
    = t("deliverables.new.example_1.title")
    .subtext= t("deliverables.new.example_1.value")
  %li
    = t("deliverables.new.example_2.title")
    .subtext= t("deliverables.new.example_2.value")
  %li
    = t("deliverables.new.example_3.title")
    .subtext= t("deliverables.new.example_3.value")


= render 'form'
