%h1= t("deliverables.new.title")
%p= t("deliverables.new.description")
%ul
  %li
    = t("home.glossary.deliverable.example_1.title")
    .subtext= t("home.glossary.deliverable.example_1.value")
  %li
    = t("home.glossary.deliverable.example_2.title")
    .subtext= t("home.glossary.deliverable.example_2.value")
  %li
    = t("home.glossary.deliverable.example_3.title")
    .subtext= t("home.glossary.deliverable.example_3.value")

= render 'form'
