%h2= t("home.glossary.title")

#mission
  %h3= t("home.glossary.mission.name")
  %p= t("home.glossary.mission.speak")

#deliverable
  %h3= t("home.glossary.deliverable.name")
  %p= t("home.glossary.deliverable.speak")
  %ul
    %li
      = t("home.glossary.deliverable.example_1.title")
      .subtext= t("home.glossary.deliverable.example_1.value")
    %li
      = t("home.glossary.deliverable.example_2.title")
      .subtext= t("home.glossary.deliverable.example_2.value")
    %li
      = t("home.glossary.deliverable.example_3.title")
      .subtext= t("home.glossary.deliverable.example_3.value")
