%h1= t("home.styleguide.title")

%section#colors
  %h2= t("home.styleguide.swatches")

  #swatches
    .swatch.colors.action
      = t("home.styleguide.swatch.action")
    .swatch.colors.work
      = t("home.styleguide.swatch.work")
    .swatch.colors.work-completed
      = t("home.styleguide.swatch.work-completed")
