- if notice
  %p#notice= notice

%h2
  = @mission.name
  = link_to(t("missions.show.edit"), edit_mission_path(@mission))

%p
  = @mission.description


- if @mission.deliverables.any?
  %ul
    - @mission.deliverables.each do |deliverable|
      %li= deliverable.name
- else
  %p= t("missions.show.now-what_html", { mission_name: @mission.name })

= link_to(t("missions.show.add-deliverable"), new_mission_deliverable_path(@mission))
