- if notice
  %p#notice= notice

- if !@mission.estimate.zero?
  .progress
    .progress-bar.progress-bar-success.progress-bar-striped.active{:role => "progressbar", :style => "width:#{@mission.progress["completed"]}%"}
      Completed - #{@mission.progress["completed"]}%
    .progress-bar.progress-bar-warning.progress-bar-striped.active{:role => "progressbar", :style => "width:#{@mission.progress["started"]}%"}
      In progress - #{@mission.progress["started"]}%
    .progress-bar.progress-bar-danger.progress-bar-striped.active{:role => "progressbar", :style => "width:#{@mission.progress["created"]}%"}
      Yet to start - #{@mission.progress["created"]}%

%section
  .right= link_to(t("actions.edit"), edit_mission_path(@mission))

  %h2
    = @mission.name

  %p
    = @mission.description

  - if @mission.deliverables.any?
    %ul#deliverables{ "data-id" => @mission.id }
      - @mission.deliverables.reverse_order.each do |deliverable|
        %li{ "data-id" => deliverable.id }
          %span.deliverable_handle= t("icons.handle_html")
          = link_to(t("missions.show.deliverable_html", { name: deliverable.name , estimate: deliverable.estimate}), edit_mission_deliverable_path(@mission, deliverable))
          %span.subnote= deliverable.value
          %ul.requirements{ "data-id" => deliverable.id }
            - deliverable.requirements.reverse_order.each do |requirement|
              %li.requirement{ "data-id" => requirement.id }
                %span.requirement_handle= t("icons.handle_html")
                = link_to(t("deliverables.show.requirement_html", { name: requirement.name, estimate: requirement.estimate}),edit_mission_deliverable_requirement_path(@mission,deliverable, requirement))
                - if requirement.created?
                  = link_to(t("icons.class_icon_html"), start_mission_deliverable_requirement_path(@mission, deliverable, requirement), { method: :put, title: "Start" , class: "fa fa-play-circle"})
                - elsif requirement.started?
                  = link_to(t("icons.class_icon_html"), finish_mission_deliverable_requirement_path(@mission, deliverable, requirement), method: :put, title: "Finish", class: "fa fa-dot-circle-o" )
                - else
                  %i.fa.fa-check
            = link_to(new_mission_deliverable_requirement_path(@mission, deliverable), { title: t("missions.show.add-requirement") }) do
              = t("missions.show.add-requirement_html", { arrow: t("icons.arrow_html") })
  - else
    %p= t("missions.show.now-what_html", { mission_name: @mission.name })

  = link_to(new_mission_deliverable_path(@mission), { title: t("missions.show.add-deliverable") }) do
    = t("missions.show.add-deliverable_html", { arrow: t("icons.arrow_html") })
