<!DOCTYPE html>
%html{ lang: I18n.locale }
  %head
    %title= @title || t("head.default_title_html", { arrow: t("icons.arrow_html") })

    %link{ href: "https://fonts.googleapis.com/css?family=Oswald:400,700", rel: "stylesheet", type: "text/css" }
    %link{ href: "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300", rel: "stylesheet", type: "text/css" }
    %link{ href: "https://fonts.googleapis.com/css?family=Special+Elite", rel: "stylesheet", type: "text/css" }
    %link{ href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }


    = stylesheet_link_tag("application", { media: "all" })
    = javascript_include_tag("application")
    = csrf_meta_tag

  %body{ class: "#{controller_name} #{action_name}" }
    = link_to(t("accessibility.skip-to-main-content"), { anchor: :content }, { id: :skip_to_content, class: "hud", tabindex: 1 })

    #background
      #vignette
      #shadow

    #page
      %nav
        %h1
          = link_to(t("icons.arrow_html"), root_path)

        %ul
          %li= link_to(t("nav.browse"), missions_path)
          - if current_user
            %li= link_to(t("nav.my-account"), user_path(current_user))
            %li= link_to(t("nav.log-out"), logout_path, { method: :put })
          - else
            %li= link_to(t("nav.authenticate"), auth_path)

      %section#content{ tabindex: -1 }
        = yield

      %footer
        %p
          - open_source_link = link_to(t("footer.open_source_project"), "https://github.com/keep-delivering")
          - style_link = link_to(t("footer.styleguide"), styleguide_path)
          = t("footer.about_html", { styleguide_link: style_link, open_source_link: open_source_link })

        %p
          - copyright1984_link = link_to("copyright1984", "http://copyright1984.com")
          = t("footer.copyright_html", { year: Time.now.year, copyright1984_link: copyright1984_link })
